@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Destination
<style>
    .jumbotron {
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background-color: gray;
        text-align: center;
        font-size: 50px;
    }

    .stylish {
        font-size: 30px;
        margin-top: 25px;
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    button {
        font-size: 25px;
        color: black;
    }

    h3 {
        margin-top: 25px;
        align-content: center
    }
</style>

<div class="jumbotron col-sm-8 col-md-10 col-lg-12"> Trip Log</div>
<h3> Places To See </h3>
<form class="stylish" runat="server" name="ThingsToDo" method="post">
    <input type="hidden" id="TripId" name="TripId" value="@Model.TripID" />
    <input type="hidden" id="AccomodationName" value="@Model.AccomodationName" name="AccomodationName" />
    <input type="hidden" id="StartDate" value="@Model.StartDate" name="startdate" />
    <input type="hidden" id="EndDate" value="@Model.EndDate" name="enddate" />
    <input type="hidden" value="@Model.AccomodationEmail" id="AccomodationEmail" name="email" />
    <input type="hidden" value="@Model.AccomodationPhone" id="AccomodationPhone" name="phone" />

    <p>
        <label for="ThingToDo1">Thing To Do:</label>
        <input type="text" name="thingtodo1" />
    </p>
    <p>
        <label for="ThingToDo2">Thing To Do:</label>
        <input type="text" name="thingtodo2" />
    </p>
    <p>
        <label for="ThingToDo3">Thing To Do:</label>
        <input type="text" name="thingtodo3" />
    </p>
    <input type="submit" runat="server" value="Submit Your Trip" id="StartNewTrip" alt="StartNewTrip">
</form>