@model IEnumerable<FAQ>

@{
    ViewData["Title"] = "FAQs";
}

<div class="row">
    <div class="col offset-3">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" asp-action="Index" asp-route-topic=""
               asp-route-category="">All FAQs</a>

            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    @foreach (Topic topic in ViewBag.Topics)
                    {
                        <a asp-action="Index" asp-route-topic="@topic.TopicId"
                           class="nav-item nav-link"> @topic.Name</a>
                    }
                </div>
            </nav>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <ul class="list-group mb-3">
            @foreach (Category category in ViewBag.Categories)
            {
                <li class="list-group-item">
                    <a asp-action="Index"
                       asp-route-topic="@ViewBag.SelectedTopic"
                       asp-route-category="@category.CategoryId">@category.Name</a>
                </li>
            }
        </ul>
        <div class="col">
            <ul class="list-group">
                @foreach (FAQ faq in Model)
                {
                    <li class="list-group-item">
                        <div class="row pb-3">
                            <div class="col">
                                <strong class="mr-2"> @faq.Question</strong> @faq.Answer
                            </div>
                        </div>

                        <div class="row">
                            <div class="col"> Topic: @faq.Topic.Name</div>
                            <div class="col"> Category: @faq.Category.Name</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>