@model Game
@{
    ViewBag.Title = "Pig!";

}

<div class="row">
    @* Game *@
    <div class="col-7">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <label class="mr-1">@Model.Player1.Name:</label>
                        <label>@Model.Player1.Score</label>
                    </div>
                    <div class="col">
                        <form asp-action="NewGame" method="post">
                            <input type="submit" value="New Game" class="btn-outline-dark float-right" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="mr-1">@Model.Player2.Name</label>
                        <label>@Model.Player2.Score</label>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col mb-3">
                        <label><strong>@Model.CurrentPlayerName's turn</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-inline">
                        <form asp-action="Roll" method="post">
                            <button class="btn btn-dark mr-2" type="submit">Roll Dice</button>
                        </form>
                        iv class="col form-inline">
                        <form asp-action="Hold" method="post">
                            <button class="btn btn-outline-dark mr-2" type="submit">Hold</button>
                        </form>
                        <label class="mr-1">Die:</label>
                        <label class="mr-1">@Model.LastRoll</label>
                        <label class="mr-1">Total:</label>
                        <label class="mr-1">@Model.CurrentTurnScore:</label>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    @*Rules*@
    <div class="col">
        <ul class="list-group ">
            <li class="list-group-item">First player to reach @Game.WinningNumber, wins.</li>
            <li class="list-group-item">Players take turns to roll the dice.</li>
            <li class="list-group-item">Turn ends when a player rolls 1, or chooses to hold.</li>
            <li class="list-group-item"> If a player rolls a one, they loose all points earned during that turn.</li>
            <li class="list-group-item"> If a player holds, points earned during that turn are added to their score.</li>
        </ul>
    </div>
</div>